Library/
.idea/
ShaderStudy.sln
Packages/
Logs/
UnityShaderStudy.v12.suo
UnityPackageManager/manifest.json
UnityShaderStudy.sln
ProjectSettings/ProjectVersion.txt
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
obj/Debug/Assembly-CSharp-Editor-firstpass.csprojAssemblyReference.cache
obj/
ProjectSettings/ProjectVersionPrevious.txt
Substance.Platform.csproj
